body{ font-family: "Montserrat",serif; background:#f1f1f1 !important;}

.MuiBadge-badge {background: #ff5252!important;}

.ReactCollapse--collapse{
    transition: height 300ms;
}
.btn-blue{background:#3872fa !important; color:#fff !important; padding:4px 20px !important}
.btn-blue:hover{background:#3067e5 !important;}
.btn-sm{padding:5px 18px !important; font-size: 12px !important;}
.btn-lg{padding:8px 18px !important; font-size: 16px !important;}
.btn-svg{font-size: 20px;}
a.active button{background: #7c7a7a6b;}
.css-rizt0-MuiTypography-root{font-size:14px !important;}
.MuiAppBar-colorPrimary{background: #e6e6e6 !important;}

input[type=number]:first-of-type::-webkit-inner-spin-button, 
input[type=number]:first-of-type::-webkit-outer-spin-button{ 
-webkit-appearance: none; 
 margin: 0; 
}

.otpBox input{border:1px solid rgba(0,0,0,0.3) !important; outline: none !important; border-radius:4px;}
.otpBox input:focus{border:1px solid rgba(0,0,0,0.7) !important;}
.otpPage .container{height:90vh; display:flex;}

.MuiTableBody-root tr:nth-child(even){background: #f1f1f1;}


button .MuiCircularProgress-root{width:20px !important; height:20px !important;}


.Mui-focused fieldset legend{display: none;}


.productslidezoom .swiper-slide{height:auto !important;}
.productslidezoom .swiper-button-next{bottom: 0px !important; right: inherit !important; top: inherit !important;
                               width:100% !important; height: 20px ! important; border-radius:0px !important;}
                               .productslidezoom .swiper-button-next:hover{background:#ff5252 !important;}
                               
                               .productslidezoom .swiper-button-next:after{transform: rotate(90deg);  }                               
.productslidezoom .swiper-button-prev{top: 20px !important; left: 0 !important; width:100% !important; height: 20px ! important; border-radius:0px !important;}
.productslidezoom .swiper-button-prev:hover{background:#ff5252 !important;}
.productslidezoom .swiper-button-prev:after{transform: rotate(90deg);  } 
.productContent .actions Button{min-width:30px !important; height:30px !important; border: 2px solid rgba(0,0,0,0.2) !important;}

.swiper-button-prev,.swiper-button-next{display: flex;  align-items: center; justify-content: center; 
                                         background: #fff; border-radius: 100%; width: 35px !important; height: 35px !important; min-width: 45px !;
                                         box-shadow: 0 1px #0000001f, 0 1px #0000003d !important;}
.swiper-button-prev:after,.swiper-button-next:after {font-size: 20px !important; color:
                                                    #000}
 
.smlBtn .swiper-button-prev,.smlBtn .swiper-button-next{display: flex;  align-items: center; justify-content: center; 
  background: #fff; border-radius: 100%; width: 20px; height: 20px; min-width: 20px;
                                         box-shadow: 0 1px #0000001f, 0 1px #0000003d !important;}

.smlBtn .swiper-button-prev:after,.smlBtn .swiper-button-next:after{font-size: 12px !important; color:
                                                    #000}   .swiper-button-prev:after,.swiper-button-next:after{font-size: 15px !important; color:
                                                         #000}


/* Container */
.main {
  display: flex;
  transition: all 0.3s ease-in-out;
}

/* Sidebar Wrapper */
.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

/* Sidebar Wrapper Toggle (hidden) */
.main .sidebarWrapper.toggle {
  width: 0;
  flex: 0 0 0;
}

/* Sidebar itself */
.main .sidebarWrapper .sidebar {
  width: 250px; /* sidebar fixed width */
  height: 100vh;

  position: fixed;
  top: 40px; /* header height */
  left: 0;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
}

/* Sidebar hidden */
.main .sidebarWrapper.toggle .sidebar {
  left: -250px; /* slide out */
}

/* Content */
.main .content {
    width: 80%;
    flex: 0 0 80%;

  transition: all 0.3s ease-in-out;
  margin-left: 0; /* initial margin */
}

/* Content full width when sidebar hidden */
.main .content.toggle {
  width: 100%;
  flex: 0 0 100%;
  padding-left: 3%;
   padding-right: 3%;
}


.rsw-editor{min-height: 300px !important; background:#fff !important;}
