
.searchBox::placeholder{color:#1f1f1f !important ;}


.nav li:hover .submenu{visibility: hidden;}
.nav li:hover .submenu{opacity: 1 !important; visibility: inherit; top: 100%;}
.nav li .submenu li:hover button{color: #ff5252 !important;}

.nav li .submenu li .submenu{top: 0% !important; left: 120% !important; opacity: 0 !important;}
.nav li .submenu li:hover .submenu{left: 100% !important; opacity: 1 !important; }

.nav li .submenu li .submenu button{color: rgba(150, 24, 24, 0.8) !important; }
.nav li .submenu li .submenu button:hover{color: #ff5252 !important;}

@media only screen and (max-width: 856px) {
    .searchBox {
width: 50% !important;
height: 50% !important;
margin-left: 5% !important; 
    }
    .searchBox input{
      font-size: 11px !important;
     padding-left: 10px !important;     
            }
   
    }
