
.categoryPanel button{text-transform: capitalize !important; font-size: 14px !important;}

.nav li .submenu{visibility: hidden; z-index: 1000;}
.nav li:hover .submenu{opacity: 1 !important; visibility: inherit !important; top: 100% !important; 
border-bottom: solid 0px  !important; border-color: #f58822 !important; }



.nav .submenu li button{color: #020202 !important; font-size: 13px !important;}
.nav .submenu li button:hover{color: #f58822 !important; font-size: 15px !important; border-bottom: solid 2px !important;
 border-radius:0% !important ; border-color: #f58822 !important; }



.nav li .submenu li .submenu button{color: #111010 !important;}
 .nav li .submenu li .submenu button:hover{font-size: 15px !important; border-bottom: solid 2px !important;
border-radius:0% !important ; border-color: #f58822 !important;  }