/* input(7,23): run-time error CSS1046: Expect comma, found '107'
input(7,30): run-time error CSS1046: Expect comma, found ')'
input(8,23): run-time error CSS1046: Expect comma, found '107'
input(8,30): run-time error CSS1046: Expect comma, found ')' */
/* Start of css for Quick search box */
.d-md-flex {
	display: flex !important;
	flex-direction: column;
}
.aa-Form:focus-within {
	border-color: rgb(30 107 184);
	border-color: rgb(30 107 184);
	box-shadow: rgba(62, 52, 211, 0.2) 0 0 0 2px, inset rgba(62, 52, 211, 0.2) 0 0 0 2px;
	box-shadow: rgba(var(--aa-primary-color-rgb), var(--aa-primary-color-alpha)) 0 0 0 2px, inset rgba(var(--aa-primary-color-rgb), var(--aa-primary-color-alpha)) 0 0 0 2px;
	outline: medium none currentColor;
}
.aa-Panel {
	margin-top: 0px !important;
	z-index: 999;
}
.aa-Panel {
	z-index: 999
}
.aa-Item[aria-selected=true] {
	color: blue;
	background: transparent !important
}
.header-middle .header-search {
	border-bottom: none;
}
/*End of css for Quick Search box */





/*Start of css for facted box */
.search-filter-attribute {
	padding: 10px 0 10px 0;
}
.search-filter-attribute input.search-filter-input {
	padding: 5px 0 5px 12px;
	width: 90%;
	min-height: 35px;
	border: 1px solid #d7d7d7;
}
.search-filter-attribute .search-filter {
	display: none !important;
}
/*end of facet box*/







/* Jquery price range slider*/
@media (max-width: 768px) {
	#accordian-price {
		padding: 0 12px 10px;
	}
}

.price-range-slider-container {
	padding: 0 5px;
}

.range-max, .price-input.cmax {
	float: right;
}

.price-input {
	margin-top: 5px;
	width: 60px;
	text-align: center;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -8px !important;
}

input.price-input {
	padding: 1px;
}

p#amount span {
	font-size: 10px;
}

.ui-slider-horizontal {
	height: .6em !important;
}

.ui-slider .ui-slider-handle {
	width: 1em !important;
	height: 1em !important;
}

.price-range-slider-container {
	padding: 3px 10px 6px !important;
}
.ui-slider-range.ui-widget-header {
	background: #1e6ab7;
}
/* end of Jquery price range slider*/





/*Mobile css*/
#small-searchterms {
	display: none;
}

.search-image {
	width: 75px;
	height: 60px;
}

/*Typesense*/

.ais-search-box {
	max-width: unset !important;
}

.header .form-search {
	padding-right: 0 !important;
}

#hits .hit {
	position: relative;
}

.hit .hit-image {
	width: 50px;
	height: 50px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

	.hit .hit-image a {
		width: 100%;
		height: 100%;
		font-size: 0;
		line-height: 0;
		display: inline-block;
	}

	.hit .hit-image img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

.hit .hit-content {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 80px);
}

h2.hit-name {
	margin: 0 auto;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
}

.ais-hits--item, ais-hits ais-hits__empty {
	padding: 1px 8px;
	border-bottom: 1px solid #ddd;
}

.ais-menu--item {
	padding: 8px 8px;
	border-bottom: 1px solid #ddd;
}

#search-result em {
	color: #00AEEF;
	font-weight: 600;
	font-style: normal;
}


.ais-menu--header.ais-header {
	padding: 8px 8px;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

a.ais-menu--link {
	color: #000;
	display: block;
	font-size: 15px;
}

	a.ais-menu--link span {
		width: auto;
		height: 18px;
		float: right;
		color: #828282;
		font-size: 14px;
		text-align: center;
		display: inline-block;
	}

.ais-search-box--magnifier-wrapper {
	display: none;
}

span.hit-price {
	color: #000;
	font-weight: 600;
}

span.hit-old-price {
	opacity: 0.8;
	text-decoration: line-through;
}

p.hit-description {
	display: none;
	overflow: hidden;
	margin-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ais-menu--item.ais-menu--item__active a {
	color: #000;
	font-weight: 600;
}

.ais-hits--item:hover, .ais-menu--item:hover {
	background-color: #efefef;
}

.ais-hits.ais-hits__empty {
	padding: 4px 8px;
	border-top: 1px solid #ddd;
}

#search-result {
	top: 94%;
	width: 100%;
	border-top: 0;
	z-index: 10000;
	background: white;
	position: absolute;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
	#search-result {
		top: 82%;
	}
}

.cat-in {
	float: left;
	margin-right: 5px;
}

.ais-search-box--reset {
	display: none;
}

.header-search input.form-control {
	flex: 1;
	min-width: 40px;
	padding: 0.9rem;
	border: 2px solid #9a2948;
	border-right: 0;
	font-size: 1.2rem;
	letter-spacing: 0;
	font-family: Poppins,sans-serif;
}

.btn-search-algo {
	width: 100%;
	display: inline-block;
	background-color: #009fe0;
	border: 2px solid #009fe0;
	outline: 0;
	border-radius: 0 0.3rem 0.3rem 0;
	font-family: inherit;
	font-weight: 600;
	padding: 1.1em 0.98em;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	transition: color 0.3s,border-color 0.3s,background-color 0.3s,box-shadow 0.3s;
	white-space: nowrap;
	cursor: pointer;
}

.searchbox-icon {
	width: 12%;
	float: right;
}

.searchbox-container {
	width: 88%;
	float: left;
}

.header-search input.form-control {
	flex: 1;
	min-width: 40px;
	padding: 0.9rem;
	border: 2px solid #9a2948;
	border-right: 0;
	font-size: 1.2rem;
	letter-spacing: 0;
	font-family: Poppins,sans-serif;
	height: 48px;
}
